#content{
	width: 888 px;
}
#imageright{
	margin-left: 20px;
}
#imageleft{
	margin: 0, 40px, 80px, 0;
}
.kepszoveg{
	font-style: italic;
    font-weight: bold;
    text-align: center;
}

h1, h2 {
    color: forestgreen;
    text-transform: uppercase;
}

ul, li {
    text-align: justify;
}

a:hover {
    color: red;
}